<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/a352582ba5.js"></script>
	<link rel="stylesheet" href="/static/flask.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Flask Project/Employees</title>
</head>
<body>
<header>
        <div class = 'd-flex flex-row justify-content-between align-items-center'>
            <div class="navbar">
                <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                <div class="header-right">
                    <a href="#"><i class="fas fa-user-friends"></i> About</a>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                </div>
            </div>
        </div>
</header>

    <div align="center" class="buttons" >
        <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#newEmployee">
            Add New Employee to {{ this_dept.name }}
        </button>
    </div>


        <!-- Modal For New Employee -->
        <div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_employee" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Employee Name</label>
                                <input type="text" class="form-control mb-2" name="full_name" id="full_name"
                                       placeholder="Name"
                                       required>
                                <label for="formGroupExampleInput">Gender</label>
                                <select name="gender" id="gender" class="form-control" required>
                                    <option value="na">Not applicable</option>
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                </select>
                                <label for="formGroupExampleInput">KRA Pin</label>
                                <input type="text" class="form-control mb-2" name="KRA_pin" id="KRA_pin"
                                       placeholder="KRA Pin" required>
                                <label for="formGroupExampleInput">National ID.</label>
                                <input type="text" class="form-control mb-2" name="national_ID" id="national_ID"
                                       placeholder="ID No." required>
                                <label for="formGroupExampleInput">Email</label>
                                <input type="email" class="form-control mb-2" name="email" id="email"
                                       placeholder="e-mail" required>
                                <label for="formGroupExampleInput">Basic Salary</label>
                                <input type="number" class="form-control mb-2" name="basic_salary" id="basic_salary"
                                       placeholder="Basic Salary"
                                       required>
                                <label for="formGroupExampleInput">Benefits</label>
                                <input type="number" class="form-control mb-2" name="benefits" id="benefits"
                                       placeholder="Benefits"
                                       required>
                                <label for="department">Department</label>
                                <input name="department" value="{{ this_dept.id }}" type="hidden" class="form-control mb-2" required>
                                </input>

                                <input type="Submit" class="form-control btn btn-primary" id="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Gender</th>
                <th scope="col">KRA Pin</th>
                <th scope="col">Email</th>
                <th scope="col">National ID</th>
                <th scope="col">Basic Salary</th>
                <th scope="col">Benefits</th>
                <th scope="col">Payroll</th>
            </tr>
            <tbody>
            {% for each in this_dept.employees %}
                <tr>
                    <th scope="row">{{ each.id }}</th>
                    <td>{{ each.full_name }}</td>
                    {% if  each.gender  == 'm' %}
                        <td>Male</td>
                    {% elif  each.gender == 'f' %}
                        <td>Female</td>
                    {% else %}
                        <td>Not Applicable</td>
                    {% endif %}
                    <td>{{ each.KRA_pin }}</td>
                    <td>{{ each.national_ID }}</td>
                    <td>{{ each.email }}</td>
                    <td>{{ each.basic_salary }}</td>
                    <td>{{ each.benefits }}</td>
                    <td><a class="btn btn-secondary" href="/payroll/{{ each.id }}">View Pay Slip</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</body>
</html>

<footer>
    <p> Njeri Macharia  2019</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>