<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/a352582ba5.js"></script>
	<link rel="stylesheet" href="/static/flask.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Flask Project</title>
</head>
<body>
    <header>
        <div class = 'd-flex flex-row justify-content-between align-items-center'>
            <div class="navbar">
                <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                <div class="header-right">
                    <a href="#"><i class="fas fa-user-friends"></i> About</a>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </header>

    <div align="center" class="buttons" >
        <!-- Button trigger modal for New Department -->
        <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#newDepartment">
            Add New Department
        </button>

        <!-- Button trigger modal For New Employee -->
        <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#newEmployee">
            Add New Employee
        </button>
    </div>



    <!-- Modal for New Department -->
    <div class="modal fade" id="newDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/new_department" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Department Name</label>
                            <input type="text" name = "department" class="form-control mb-2" id="departmentName" placeholder="Name"
                                   required>
                            <input type="Submit" class="form-control btn btn-secondary" id="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal For New Employee -->
    <div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/add_employee" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Employee Name</label>
                            <input name = 'full_name' type="text" class="form-control mb-2" id="full_name" placeholder="Name"
                                   required>
                            <label for="formGroupExampleInput">Gender</label>
                            <select name = 'gender' id="gender" class="form-control mb-2" placeholder="Gender" required>
                                <option value="na">Not Applicable</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <label for="formGroupExampleInput">KRA Pin</label>
                            <input name = 'KRA_pin' type="text" class="form-control mb-2" id="KRA_pin" placeholder="KRA Pin" required>
                            <label for="formGroupExampleInput">National ID.</label>
                            <input name = 'national_ID' type="text" class="form-control mb-2" id="national_ID" placeholder="ID No." required>
                            <label for="formGroupExampleInput">Email</label>
                            <input name = 'email'type="email" class="form-control mb-2" id="email" placeholder="e-mail" required>
                            <label for="formGroupExampleInput">Basic Salary</label>
                            <input name = 'basic_salary' type="number" class="form-control mb-2" id="basic_salary" placeholder="Basic Salary"
                                   required>
                            <label for="formGroupExampleInput">Benefits</label>
                            <input name = 'benefits'type="number" class="form-control mb-2" id="benefits" placeholder="Benefits" required>
                            <label for="department">Department</label>
                            <select name = 'department' id="department" class="form-control mb-2" placeholder="Department" required >
{#                                <option> Choose Department </option>#}
{#                                <option>...</option>#}
                                {% for each in idara %}
                                    <option value="{{ each.id }}">{{ each.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="Submit" class="form-control btn btn-secondary" id="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name of Department</th>
        <th scope="col">View Employees</th>
    </tr>
  </thead>
  <tbody>
  {%  for each in idara %}
    <tr>
      <th scope="row">{{each.id}}</th>
      <td>{{ each.name }}</td>
      <td><a href = '/employees/{{ each.id }}'>Employees</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    <footer>
        <p> Njeri Macharia  2019</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>